<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="featureToggles" type="Aqueduct.Toggles.Configuration.FeatureToggleConfigurationSection, Aqueduct.Toggles" />
  </configSections>
  <featureToggles>
    <!-- Basic features -->
    <feature name="featureenabled" enabled="true" />
    <feature name="featuredisabled" enabled="false" />
    <!-- End basic features-->
    
    <!-- Toggle the implementation of a single sublayout -->
    <feature name="featurewithsublayouts" enabled="true">
      <sublayouts>
        <sublayout name="navigation" original="{AD909EB2-A8E8-484C-BA23-E0CC137142A1}" new="{E8A4B6F9-E787-45A1-AB8A-3883405C4436}" />
      </sublayouts>
    </feature>
    <feature name="anotherfeaturewithsublayouts" enabled="false">
      <sublayouts>
        <sublayout name="footer" original="{813B85C0-8EE8-4507-B1F8-238380FC4624}" new="{301EAA9B-DE8F-4341-840D-09CDB153770E}" />
      </sublayouts>
    </feature>
    <!-- End single sublayout toggling -->
    
    <!-- Toggle a whole layout -->
    <feature name="featurewithlayoutbytemplateid" enabled="true">
      <layout template="{03AFA791-2A92-46E8-8A10-47EC6502B633}" new="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
        <sublayout name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
        <sublayout name="content" placeholder="main" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
        <sublayout name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
      </layout>
    </feature>
    <feature name="featurewithlayoutbyitemid" enabled="true">
      <layout item="{9E316C3C-9494-4C99-8AF6-653560D20F76}" new="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
        <sublayout name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
        <sublayout name="content" placeholder="main" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
        <sublayout name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
      </layout>
    </feature>
    <!-- End layout toggling -->
  </featureToggles>
</configuration>