<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="featureToggles" type="Aqueduct.Toggles.Configuration.FeatureToggleConfigurationSection, Aqueduct.Toggles" />
  </configSections>
  <featureToggles>
    <encryption key="W3numHuCRsLahKL/YxtwmHKC3oJwyPTUn5ZzUr+G944=" />
    <!-- Basic features -->
    <feature name="featureenabled" enabled="true" >
      <help>
        <description>Short description</description>
        <requirements><![CDATA[<li>Step1</li>]]></requirements>
      </help>
    </feature>
    <feature name="featuredisabled" enabled="false" languages="en,en-GB,de-DE" />
    <feature name="featureenabledbutoverridden" enabled="true" />
    <feature name="featuredisabledbutoverridden" enabled="false" />
    <!-- End basic features-->

    <!-- Toggle the implementation of a single sublayout -->
    <feature name="featurewithsublayouts" enabled="true">
      <renderings>
        <rendering name="navigation" originalId="{AD909EB2-A8E8-484C-BA23-E0CC137142A1}" newId="{E8A4B6F9-E787-45A1-AB8A-3883405C4436}" />
        <rendering name="something" originalId="{E1D37C73-44D6-4F62-B8AD-FE16CBC6C0E9}" newId="{95197DC8-C3E9-4BF0-AAEF-327DCECF4436}" />
      </renderings>
    </feature>
    <feature name="anotherfeaturewithsublayouts" enabled="false">
      <renderings>
        <rendering name="footer" originalId="{813B85C0-8EE8-4507-B1F8-238380FC4624}" newId="{301EAA9B-DE8F-4341-840D-09CDB153770E}" />
      </renderings>
    </feature>
    <feature name="enabledbutwronglanguage" enabled="true" languages="fake">
      <renderings>
        <rendering name="somethingelse" originalId="{FD74F69D-E5A9-4CBF-BD16-1A65A3EF1B6E}" newId="{C77591EB-DBDE-4412-B0C7-C03B3D781D9F}" />
      </renderings>
    </feature>
    <feature name="enabledforcurrentlanguage" enabled="true" languages="current">
      <renderings>
        <rendering name="another" originalId="{390A83A2-06FA-42BD-80AA-988C545439C8}" newId="{79B92D87-D3A1-41D9-8A6B-2E4FF38A3827}" />
      </renderings>
    </feature>
    <!-- End single sublayout toggling -->

    <!-- Toggle a whole layout -->
    <feature name="featurewithlayoutbytemplateid" enabled="true" languages="current">
      <templates>
        <template id="{03AFA791-2A92-46E8-8A10-47EC6502B633}" newLayoutId="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
          <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
          <rendering name="content" placeholder="main" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
          <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
        </template>
      </templates>
    </feature>
    <feature name="featurewithlayoutbyitemid" enabled="true">
      <items>
        <item id="{9E316C3C-9494-4C99-8AF6-653560D20F76}" newLayoutId="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
          <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
          <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
          <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
        </item>
      </items>
    </feature>
    <feature name="featurewithlayoutdefault" enabled="true">
      <items>
        <item id="{BC8A19E9-C908-4228-B860-0D895C3885B3}" >
          <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
          <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
          <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
        </item>
      </items>
    </feature>
    <feature name="featurewithmultiplelayouts" enabled="true">
      <items>
        <item id="{8D8B24C8-85D8-41D3-926E-F48D8697F076}" >
          <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
          <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
          <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
        </item>
        <item id="{EBAEDE0D-592A-48B3-B4BF-3E40E93B05E5}" >
          <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
          <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
          <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
        </item>
        <item id="{DA7C50EC-6FA7-40A7-A6E4-6EAFA0C92075}" >
          <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
          <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
          <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
        </item>
      </items>
    </feature>
    <feature name="disabledwithitemsandtemplates" enabled="false">
      <items>
        <item id="{70BF5667-5ECA-440C-BFCE-B6ED24B7EE15}">
          <rendering name="navigation" placeholder="topnav" id="{8DC4F69C-9E28-4687-9B94-461E0FC58952}" />
        </item>
      </items>
      <templates>
        <template id="{30B677BC-C59D-460A-91E6-C9F9298EBC5A}">
          <rendering name="navigation" placeholder="topnav" id="{F6445639-A323-4F71-B71D-66CE6660CF11}" />
        </template>
      </templates>
    </feature>
    <!-- End layout toggling -->
  </featureToggles>
</configuration>