<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="processor[contains(@type, 'Sitecore.Pipelines.HttpRequest.LayoutResolver')]" type="Aqueduct.Toggles.Sitecore.LayoutResolver, Aqueduct.Toggles" />
      </httpRequestBegin>
      <renderLayout>
        <processor patch:after="processor[contains(@type, 'Sitecore.Pipelines.RenderLayout.InsertRenderings')]" type="Aqueduct.Toggles.Sitecore.RenderLayoutProcessor, Aqueduct.Toggles" />
      </renderLayout>
      <mvc.buildPageDefinition>
        <processor patch:instead="processor[contains(@type, 'Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition')]" type="Aqueduct.Toggles.Sitecore.ProcessXmlBasedLayoutDefinition, Aqueduct.Toggles" />
      </mvc.buildPageDefinition>
    </pipelines>
  </sitecore>
</configuration>
