<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="item:saved">
        <handler type="Aqueduct.Toggles.Sitecore.EventHandlers.FeatureEventHandler, Aqueduct.Toggles.Sitecore" method="OnItemSavedHandler"></handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Aqueduct.Toggles.Sitecore.EventHandlers.FeatureEventHandler, Aqueduct.Toggles.Sitecore" method="OnPublishEndRemoteHandler"></handler>
      </event>
      <event name="item:deleted">
        <handler type="Aqueduct.Toggles.Sitecore.EventHandlers.FeatureEventHandler, Aqueduct.Toggles.Sitecore" method="OnItemDeletedHandler"></handler>
      </event>
      <event name="item:deleted:remote">
        <handler type="Aqueduct.Toggles.Sitecore.EventHandlers.FeatureEventHandler, Aqueduct.Toggles.Sitecore" method="OnItemDeletedRemoteHandler"></handler>
      </event>
    </events>
  </sitecore>
</configuration>