<?xml version="1.0" encoding="utf-8" ?>
<featureToggles enableSitecoreOverrides="true" sitecoreOverridesPath="/sitecore/content/Settings/FeatureToggles" sitecoreFeatureDatabaseDefault="master">
  <!-- 
  ***********************************************************************************************************************************
  Example of a basic feature
    This is for if you only need to replace a few lines of code. Use it in an if block like this:
  
      if (FeatureToggles.IsEnabled("featureenabled"))
        //Do something
      else
        //Do something else       
  ***********************************************************************************************************************************
  
  <feature name="featureenabled" enabled="true" >
    <help>
      <description>Some description here</description>
      <requirements><![CDATA[
      <p>Before you enable this feature please ensure the following steps have been completed</p>
      <ul>
        <li>Do this first</li>
        <li>Do this next</li>
        <li>Then this</li>
      </ul>
      ]></requirements>
  </feature>
  <feature name="featuredisabled" enabled="false" />
      
  ***********************************************************************************************************************************
  Example of a more sophisticated feature 
    This one has several renderings (Sublayouts or XSLTs) which are switched out for new ones.
    It also has a couple of templates where any items will have their layout switched for a new one (or left blank to use the default), 
    and all their controls replaced by the renderings specified (in the placeholders specified, or the default if blank)
    It also has a couple of individual items which also have their layout and rendering switched.
  ***********************************************************************************************************************************
  
  <feature name="featurewithsublayouts" enabled="true">
    <renderings>
      <rendering name="navigation" originalId="{AD909EB2-A8E8-484C-BA23-E0CC137142A1}" newId="{E8A4B6F9-E787-45A1-AB8A-3883405C4436}" />
      <rendering name="something" originalId="{E1D37C73-44D6-4F62-B8AD-FE16CBC6C0E9}" newId="{95197DC8-C3E9-4BF0-AAEF-327DCECF4436}" />
    </renderings>
    <templates>
      <template id="{03AFA791-2A92-46E8-8A10-47EC6502B633}" newLayoutId="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
        <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
        <rendering name="content" placeholder="main" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
        <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
      </template>
      <template id="{03AFA791-2A92-46E8-8A10-47EC6502B633}" newLayoutId="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
        <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
        <rendering name="content" placeholder="main" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
        <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
      </template>
    </templates>
    <items>
      <item id="{9E316C3C-9494-4C99-8AF6-653560D20F76}" newLayoutId="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
        <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
        <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
        <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
      </item>
      <item id="{9E316C3C-9494-4C99-8AF6-653560D20F76}" newLayoutId="{0C993911-CCAB-4303-8D6F-9811E0BB0847}">
        <rendering name="navigation" placeholder="topnav" id="{BBDBC750-D502-4B1B-A5B4-77A4AB947DE8}" />
        <rendering name="content" id="{039BF107-3806-464E-B137-CF46A139D1F8}" />
        <rendering name="footer" placeholder="pagebottom" id="{E30B60DC-87EF-4B31-8031-B07B3324BDD8}" />
      </item>
    </items>
  </feature>-->
</featureToggles>